{% extends "base.j2" %}

{% block main %}
Ik weet al wat even en oneven is! Kijk maar:

{% for getal in getallen %}
  {% if getal % 2 == 0 %}
    {{ getal }} is even
  {% else %}
    {{ getal }} is oneven
  {% endif %}
  {# Dit kan korter ook hoor:
  {{ getal }} is {{ "Even" if getal % 2 == 0 else "Oneven" }}
  #}
{% endfor %}

{% endblock %}
