{% extends "base.j2" %}

{% block main %}
Ik kan ook vanaf {{ tellen }} achteruit tellen!

Kijk maar: {% for i in range(tellen, 0, -1) %}{{ i  }}{{ ".. " if not loop.last else "!" }}{% endfor %}
{% endblock %}
